[submodule "cutetest"]
	path = cutetest
	url = git@github.com:OpenCUTE/cutetest.git
[submodule "chipyard"]
	path = chipyard
	url = git@github.com:OpenCUTE/chipyard.git
[submodule "CPU/shuttle"]
	path = CPU/shuttle
	url = git@github.com:OpenCUTE/shuttle.git
[submodule "CPU/boom"]
	path = CPU/boom
	url = git@github.com:OpenCUTE/riscv-boom.git
[submodule "CPU/rocket"]
	path = CPU/rocket
	url = git@github.com:OpenCUTE/rocket-chip.git
[submodule "cute-fpe"]
	path = cute-fpe
	url = git@github.com:OpenCUTE/cute-fpe.git
[submodule "doc/CUTE-Design-Doc"]
	path = doc/CUTE-Design-Doc
	url = git@github.com:OpenCUTE/CUTE-Design-Doc.git
