[submodule "cutetest"]
	path = cutetest
	url = git@github.com:OpenCUTE/cutetest.git
[submodule "chipyard"]
	path = chipyard
	url = git@github.com:OpenCUTE/chipyard.git
[submodule "CPU/shuttle"]
	path = CPU/shuttle
	url = git@github.com:OpenCUTE/shuttle.git
[submodule "CPU/boom"]
	path = CPU/boom
	url = git@github.com:OpenCUTE/riscv-boom.git
[submodule "CPU/rocket"]
	path = CPU/rocket
	url = git@github.com:OpenCUTE/rocket-chip.git
[submodule "cute-fpe"]
	path = cute-fpe
	url = git@github.com:OpenCUTE/cute-fpe.git
[submodule "doc/design-doc"]
	path = doc/design-doc
	url = git@github.com:OpenCUTE/CUTE-Design-Doc.git
[submodule "doc/sdk-doc"]
	path = doc/sdk-doc
	url = git@github.com:OpenCUTE/cute-sdk-doc.git
[submodule "cute-sdk"]
	path = cute-sdk
	url = git@github.com:OpenCUTE/cute-sdk.git
